/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@font-face {
  font-family: 'Readex Pro';
  src: url('/assets/fonts/ReadexPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/assets/fonts/ReadexPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
