/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@font-face {
  font-family: 'Readex Pro';
  src: url('/assets/fonts/Readex_Pro/static/ReadexPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/assets/fonts//Readex_Pro/static/ReadexPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Dejar espacio en la parte inferior para la barra de navegación fija */
html, body {
  /* 64px de altura de la navbar + espacio extra; usar safe-area para móviles */
  padding-bottom: calc(0px + env(safe-area-inset-bottom, 0px));
}
