<main>
  <div class="p-6">
    <h1 class="text-3xl font-bold text-blue-700">¡Hola, {{ userName }}!</h1>
  </div>
  <div
    class="bg-white rounded-xl shadow-xl hover:shadow-2xl transition-shadow shadow-blue-400 p-6 mx-auto max-w-sm"
  >
    <div class="text-center mt-8">
      <p class="text-lg font-bold text-gray-500 mt-1">¿Listo para equilibrar tu día?</p>

      <div class="relative w-40 h-40 mx-auto mt-6">
        <svg class="absolute top-0 left-0" viewBox="0 0 100 100">
          <!-- Fondo gris -->
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#3b82f6"
            stroke-width="10"
            fill="none"
            stroke-dasharray="282.6"
            [attr.stroke-dashoffset]="282.6 - (progressPercent / 100) * 282.6"
            stroke-linecap="round"
            transform="rotate(-90 50 50)"
          />
        </svg>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
          <span class="text-xl font-bold text-gray-800">{{ progressPercent }}%</span>

          <span class="text-sm text-gray-500">Tu Progreso Diario</span>
        </div>
      </div>

      <p class="mt-2 text-gray-500 font-medium">{{ getProgressMessage() }}</p>
    </div>
  </div>
  <!-- Formulario de tareas -->
  <div class="bg-white shadow-md rounded-lg p-6 max-w-md mx-auto mt-6">
    <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">Agrega una nueva tarea</h2>

    <form (ngSubmit)="addTask(newTaskTitle, newTaskCategory)" class="flex flex-col gap-4">
      <input
        [(ngModel)]="newTaskTitle"
        name="title"
        placeholder="Nueva tarea"
        class="border rounded px-2 py-1"
      />

      <select [(ngModel)]="newTaskCategory" name="category" class="border rounded px-2 py-1">
        <option value="academico">Académico</option>
        <option value="fisico">Físico</option>
        <option value="mental">Mental</option>
      </select>

      <button type="submit" class="bg-blue-500 text-white px-4 py-1 rounded">Agregar</button>
    </form>
  </div>

  <!-- Lista de tareas por categoría -->
  <div class="grid grid-cols-3 gap-4 mt-6">
    <div *ngFor="let category of categories">
      <div class="rounded-lg p-4 shadow-md" [ngClass]="getClass(category)">
        <h3 class="text-lg font-bold mb-2">{{ category | titlecase }}</h3>
        <div *ngFor="let task of tasksByCategory[category]">
          <label class="flex items-center gap-2">
            <input
              type="checkbox"
              [(ngModel)]="task.completed"
              (change)="saveTasksToLocalStorage()"
            />
            <span>{{ task.title }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</main>
